<app-navbar></app-navbar>

<div class="adjust">
    <div class="about-us-container">
        <img src="../../assets/images/about_us_image.jpg" alt="About Us Image" class="about-us-image">
        <div class="about-us-content">
            <h1>About Us</h1>
            <p>Welcome to [Travel Website Name], your number one source for all things travel. We're dedicated to giving you the very best of travel experiences, with a focus on quality, customer service, and uniqueness.</p>
            <p>Founded in [Year] by [Founder's Name], [Travel Website Name] has come a long way from its beginnings. When [Founder's Name] first started out, their passion for providing the best travel experiences drove them to start their own business.</p>
            <p>We now serve customers all over the world and are thrilled to be a part of the travel industry.</p>
            <p>We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
            <p>Sincerely, <br> [Founder's Name]</p>
        </div>
    </div>
</div>

<app-footer></app-footer>

