
<!-- navbar.component.html -->
 
<!-- <nav class="navbar">
    <div class="navbar-logo">
      <img src="../../assets/images/logo.png" alt="Logo">
    </div>
    <div class="navbar-menu">
      <a href="#">Home</a>
      <a href="#">Travel</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
      <a href="#">Profile</a>
    </div>
    <div class="navbar-login">
      <button>Login</button>
    </div>
  </nav> -->

  <!-- <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo.png" alt="Logo" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Travel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
        <button class="btn btn-warning ml-3" type="button">Login</button>
    </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
      <img src="../../assets/images/travel logo.png" alt="Logo" class="d-inline-block align-top">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto navbaritems">
          <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]='["/search"]'>Travel</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]='["/about"]'>About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]='["/profile"]'>Profile</a>
          </li>
      </ul>
      <button class="btn btn-warning ml-3" type="button" [routerLink]='["/login"]'>Login</button>
  </div>
</nav>