<h1 class="deals_heading" style="text-align: center;">Recent Deals</h1>
<!-- <div class="home_cards">
<div *ngFor="let new of newArrays">   
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images/about_us_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
</div> -->

<div class="home_cards">
  <div [routerLink]='["/hotel_description",hotel.id]' class="card" *ngFor="let hotel of hotels;let i = index">
      <div class="card-img-wrapper">
          <img [src]="hotel.image" class="card-img" alt="Best Western Plus Pearl Creek">
      </div>
      <div class="card-body">
          <h5 class="card-title">{{ hotel.name }}</h5>
          <p class="card-rating">★★★★☆</p>
          <p class="card-reviews">4.1/5 <span>222 reviews</span></p>
          <p class="card-text">Free Cancellation</p>
          <p class="card-price">From INR {{ hotel.price_per_night }}</p>
      </div>
  </div>
  <!-- <div class="card">
      <div class="card-img-wrapper">
          <img src="../../assets/images/hotels2.jpg" class="card-img" alt="Golden Sands Hotel Apartments">
      </div>
      <div class="card-body">
          <h5 class="card-title">Golden Sands Hotel Apartments</h5>
          <p class="card-rating">★★★☆☆</p>
          <p class="card-reviews">4.1/5 <span>276 reviews</span></p>
          <p class="card-text">Free Cancellation</p>
          <p class="card-price">From INR 5,398</p>
      </div>
  </div>
  <div class="card">
      <div class="card-img-wrapper">
          <img src="../../assets/images/hotels3.jpg" class="card-img" alt="Ramada Plaza by Wyndham Dubai Deira">
      </div>
      <div class="card-body">
          <h5 class="card-title">Ramada Plaza by Wyndham Dubai Deira</h5>
          <p class="card-rating">★★★★★</p>
          <p class="card-reviews">4.1/5 <span>265 reviews</span></p>
          <p class="card-text">Free Cancellation</p>
          <p class="card-price">From INR 2,902</p>
      </div>
  </div> -->
</div>


