<section class="how-it-works">
    <h1>How It Works</h1>
    <div class="cards">
        <div class="card">
            <img class="image" src="../../assets/images/adventure_logo.png" alt="Handpicked Adventures">
            <h2>Handpicked Adventures</h2>
            <p>We search more than 700...</p>
        </div>
        <div class="card">
            <img class="image" src="../../assets/images/offer_logo.png" alt="Exclusive Deals">
            <h2>Exclusive Deals</h2>
            <p>From local gems to highlights...</p>
        </div>
        <div class="card">
            <img class="image" src="../../assets/images/interest_logo.png" alt="Trips that match your interests">
            <h2>Trips that match your interests</h2>
            <p>From local gems to highlights...</p>
        </div>
    </div>
</section>
